@font-face {
	font-family: Roboto;
	src: local("Roboto"),
	     url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html{
	font-family: Roboto, sans-serif;
	cursor: default;
	-webkit-user-select: none;
	min-width: 800px;
	min-height: 550px;
}
body{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #333647;
	overflow: hidden;
	background-color: #d9d9d9;
}
header, footer, body, html, div, input{
	-webkit-box-sizing: border-box;
}

/* Основное */
	input,
	nav,
	#overWindow > div,
	#navFile,
	#navAlgolist,
	#navInfo,
	#navHome,
	#content,
	.user_info,
	.algorithmItem,
	#overWindow .close:after,
	.algorithmType,
	.algorithmSubtype{
		transition: all .3s;
	}
	span.info,
	.algolist .oneLevel,
	.algolist .twoLevel {
		transition: background-color .3s;
	}
	.disabled {
		pointer-events:none;
	}
	.disabled:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: rgba(90,100,120,0.7)
	}

	header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 4px;
		text-align: center;
		color: #F4F4F4;
		background-color: #5a6478;
	}

	#overWindow {
		position: absolute;
		display: none;
		top: 29px;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: 10;
	}
	#overWindow > div {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		-webkit-transform: scale(0.5);
	}
	#overWindow .close {
		cursor: pointer;
	}
	#overWindow .close:after {
		position: absolute;
		font: 20pt 'FontAwesome';
		content: "\f00d";
		right: 15px;
		top: 15px;
		width: 35px;
		height: 35px;
		line-height: 1.5;
		text-align: center;
		opacity: 0.1;
	}
	#overWindow .close:hover:after {
		opacity: 1;
	}
	#overWindow .window {
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
	}

	#navHome,
	.user_info{
		position: absolute;
		left: 0;
		top: 29px;
		width: 60px;
		height: 72px;
		background-color: #EF6A32;
		color: #F4F4F4;
	}
	#navHome:hover,
	.user_info:hover{
		background-color: #FBBF45;
	}

	.user_info{
		left: auto;
		right: 0;
		padding: 18px;
	}
	
	nav{
		position: absolute;
		left: 0;
		top: 101px;
		width: 60px;
		height: 100%;
		background-color: #5a6478;
		color: #F4F4F4;
		z-index: 1;
	}
	nav:hover{
		width: 230px;
	}
	nav div,
	#navHome{
		cursor: pointer;
		padding: 18px;
		overflow: hidden;
	}
	nav div:hover{
		background-color: #26294A;
	}

	nav div .name{
		margin-left: 60px;
		line-height: 2;
		vertical-align: middle;
	}

	/* Индикатор загрузки файла */
	#navFile.success{
		background-color: #03C383;
	}
	#navFile.error{
		background-color: #ED0345;
	}
	/* /Индикатор загрузки файла */
	

	/* Иконки в меню навигации */
		#navHome,
		nav .icon,
		.user_info{
			font-family: 'FontAwesome';
			font-size: 20pt;
			line-height: 1.3;
			vertical-align: middle;
			position: absolute;
		}

		#navHome:after{
			content: "\f015";
		}
		.user_info:after{
			content: "\f007";
		}
		nav .info:after{
			content: "\f05a";
		}
		nav .file:after{
			content: "\f07c";
		}
		nav .algolist:after{
			content: "\f085";
		}
	/* /Иконки в меню навигации */

	#content{
		opacity: 0;
		position: absolute;
		top: 29px;
		left: 60px;
		right: 0;
		bottom: 0;
		transform: scale(0.5);
	}
	#content h2{
		background-color: #FFF;
		padding: 20px;
		margin: 0;
		font-weight: normal;
	}
	.window h3{
		margin-top: 0;
		font-weight: normal;
	}
	.window{
		position: absolute;
		background-color: #FFFFFF;
		border-radius: 3px;
		padding: 15px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.window::-webkit-scrollbar {
	    width: 1px;
		padding: 10px;
		background-color: rgba(0,0,0,0);
	}
	.window::-webkit-scrollbar-thumb {
	    border-right: 1px solid #5a6478;
	}
	.window::-webkit-scrollbar-button{
		height:5px;
		background-color: transparent;
	}

	#dragPlace{
		position: absolute;
		top: 0;
		left: 50px;
		right: 80px;
		height: 30px;
		-webkit-app-region: drag;
	}

	/* Кнопки управления окном */
		.closeApp:after{
			content: "\f00d";
			right: 6px;
			line-height: 1.5;
		}
		.maximizeApp:after{
			content: "\f065";
			right: 30px;
			line-height: 1.6;
		}
		.unmaximizeApp:after{
			content: "\f066";
			right: 30px;
			line-height: 1.6;
		}
		.minimizeApp:after{
			content: "\f068";
			right: 54px;
			line-height: 2.3;
		}
		.zoomIn:after{
			content: "\f00e";
			left: 30px;
			line-height: 1.6;
		}
		.zoomOut:after{
			content: "\f010";
			left: 6px;
			line-height: 1.6;
		}

		.closeApp:after,
		.maximizeApp:after,
		.unmaximizeApp:after,
		.minimizeApp:after,
		.zoomIn:after,
		.zoomOut:after{
			font-family: 'FontAwesome';
			font-size: 10pt;
			color: #D5D5D5;
			position: absolute;
			top: 4px;
			z-index: 2;
			width: 20px;
			height: 20px;
			text-align: center;
			border-radius: 50%;
		}
		.closeApp:hover:after,
		.maximizeApp:hover:after,
		.unmaximizeApp:hover:after,
		.minimizeApp:hover:after,
		.zoomIn:hover:after,
		.zoomOut:hover:after{
			background-color: #EF6A32;
			color: #FFF;
		}
	/* /Кнопки управления окном */

	/* Клик по кнопкам */
		nav div:active,
		#navHome:active,
		.window input[type=submit]:active{
			-webkit-transform: scale(0.9);
		}
	/* /Клик по кнопнкам*/
/* /Основное */


/* Авторизация */
.window input{
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
}
.window input:focus {
	outline: none;
}
.window input[type=text]:focus{
	border: 1px solid #03C383;
}
.window input[type=submit]{
	border: 0;
	background-color: #bbbbbb;
	color: #FFF;
	cursor: pointer;
}
.window input[type=submit]:hover,
.window input[type=submit]:focus{
	background-color: #03C383;
}
.window input[type=text].error{
	border-color: #ED0345;
}
/* /Авторизация */



/* Список алгоритмов */
#algoInfo {
	display: none;
}
.window.algolist{
	padding: 0;
}
.algorithmType,
.algorithmItem,
.algorithmSubtype{
	padding: 20px;
	width: 100%;
	cursor: pointer;
}
.algorithmItem {
	background-color: #ebebeb;
}
.algorithmItem:hover{
	color: #fff;
	background-color: #EF6A32;
}
.algorithmType{
	color: #fff;
	background-color: #5A6478;
}
.algorithmType:hover{
	background-color: #26294A;
}
.algorithmSubtype{
	color: #fff;
	background-color: #7f8aa1;
}
.algorithmSubtype:hover{
	background-color: #26294A;
}
.algorithmItem{
	position: relative;
}
.algorithmItem .info{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 65px;
	text-align: center;
}
.algorithmItem .info:hover{
	background-color: #FBBF45
}
.algorithmItem .info:after{
	content: "\f05a";
	font-family: 'FontAwesome';
	font-size: 20pt;
	line-height: 2.3;
}
.algolist .oneLevel,
.algolist .twoLevel,
.algolist .oneLevel > div,
.algolist .twoLevel > div {
	position: relative;
}
.algolist .oneLevel,
.algolist .twoLevel {
	overflow: hidden;
}
.algolist .oneLevel,
.algolist .twoLevel {
	display: none;
}
.algolist .twoLevel {
	padding-left: 20px;
}
.algolist .oneLevel:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 10px;
	background-color: #fff;
	z-index: 1;
}
.algolist .oneLevel:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 5px;
	width: 1px;
	background-color: #ccc;
	z-index: 1;
}
.algolist .oneLevel > .algorithmSubtype:after,
.algolist .oneLevel > .algorithmItem:after {
	content: '';
	position: absolute;
	top: 30px;
	left: 5px;
	width: 5px;
	height: 1px;
	background-color: #ccc;
	z-index: 1;
}

.algolist .twoLevel:before {
	content: '';
	position: absolute;
	top: 0;
	left: 10px;
	height: 100%;
	width: 10px;
	background-color: #fff;
	z-index: 1;
}
.algolist .twoLevel:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 15px;
	width: 1px;
	background-color: #ccc;
	z-index: 1;
}
.algolist .twoLevel > div:after {
	content: '';
	position: absolute;
	top: 30px;
	left: -5px;
	width: 5px;
	height: 1px;
	background-color: #ccc;
	z-index: 1;
}
/* /Список алгоритмов*/

/*
FONT AWESOME

// Настройки
content: "\f085";

// Выход (крестик)
content: "\f00d";

// Развернуть окно
content: "\f065";

// Обратное действие разворачиванию
content: "\f066";

// Свернуть окно
content: "\f068";

// лупа -
content: "\f010";

// лупа +
content: "\f00e";


Для навигации
// Дом
content: "\f015";

// Открыть файл
content: "\f07c";

// Инфо о программе
content: "\f05a";



Настройки
content: "\f085";

Юзер
content: "\f007";
*/